

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
body
{
    background-image: url("./images/fondo_estrellas.png");

    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}




/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
@font-face
{
    font-family: pixelFont;
    src: url("./font/PressStart2P-Regular.ttf");
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
button
{

    box-shadow:inset 0px 2px 19px 4px #5dd42f;
    background-color:transparent;
    border-radius:26px;
    display:inline-block;
    cursor:pointer;
    font-size:18px;
    padding:17px 53px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    
    
    font-family: pixelFont;
    color: white;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
button:hover
{
    background-color:transparent;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
button:active
{
    position:relative;
    top:1px;
}




/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
#start_btn
{
    position:relative;
    top:240px;
    left: 72px;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
#speed_up_btn
{
    position:relative;
    top: 320px;
    left: -155px;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
#speed_down_btn
{
    position:relative;
    top: 400px;
    left: -430px;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.score_class
{
    font-size:22px;
    font-family: pixelFont;
    color: white;

    position: relative;
    bottom: 0px;
    left: 25px;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.next_class
{
    font-size:18px;
    font-family: pixelFont;
    color: white;

    position: relative;
    bottom: 10px;
    left: 25px;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.main_container
{
    display: flex;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.grid_container
{
    width: 600px; 
    height: 600px;

    display: flex; /* para flexbox*/
    flex-wrap: wrap;

    position: relative;
    bottom: 93px;
    left: 360px;

    background-color: black;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/* esto quiere decir que este estilo solo afecta a los child div de esta clase */
.grid_container div
{
    width: 30px;
    height: 30px;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.preview_grid_container
{
    width: 120px; 
    height: 120px;

    /* margin-right: 200px; */

    display: flex; /* para flexbox*/
    flex-wrap: wrap;

    position: relative;
    bottom: 22px;
    left:  -484px;

    background-color: black;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/* esto quiere decir que este estilo solo afecta a los child div de esta clase */
.preview_grid_container div
{
    width: 30px;
    height: 30px;

    /* background-color: green; */
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.controls
{

    font-size: 19px;
    font-family: pixelFont;
    color: white;

    display: flex; /* para flexbox*/
    flex-wrap: wrap;


    position: relative;
    bottom: 640px;
    left:  980px;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.shape_L
{
    background-image: url("./images/block_water_jelly.png");
    background-size: contain;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.shape_Z
{
    background-image: url("./images/block_fire_jelly.png");
    background-size: contain;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.shape_T
{
    background-image: url("./images/block_air_jelly.png");
    background-size: contain;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.shape_O
{
    background-image: url("./images/block_demon_jelly.png");
    background-size: contain;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.shape_I
{
    background-image: url("./images/block_earth_jelly.png");
    background-size: contain;
}

